<h1>hi world from index view</h1>

<form action="cars" method="get" accept-charset="utf-8">
  <label for="car_serial_number_pattern">Serial Number:</label>
  
  <% if @cars.length > 0 %>
	<input type="text" name="serial_number_pattern" id="car_serial_number_pattern" value="">
  <% elsif params[:serial_number_pattern].length > 0 %>
  	<input type="text" name="serial_number_pattern" id="car_serial_number_pattern" value="<%=  params[:serial_number_pattern].to_s %>">
  <% else %>
  	<input type="text" name="serial_number_pattern" id="car_serial_number_pattern" value="">
  <% end %>
  <input type="submit" value="Search!">
</form>

<div id="results">
  <button class="sort" data-sort="trim_name">
    Sort by description
  </button>
  <button class="sort" data-sort="serial_number_pattern">
    Sort by SNP
  </button>
  <table>
    <tbody class="list">
	    <tr>
	      <th>Description</th>
	      <th>Serial Number Pattern</th> 
	      <th>Year</th>
	    </tr>
      <% @cars.each do |car| %>
	    <tr>
		    <td class='trim_name'><%= car.trim_name%></td>
		    <td class='serial_number_pattern'><%= car.serial_number_pattern %></td>
			<td class='year'><%= car.year %></td>
	    </tr>
      <% end %>
    </tbody>
  </table>
</div>
